*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex{
    display: flex;
}

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 39rem;
    padding: 2rem 20rem;
}

header>.navbar{
    justify-content: space-between;
}

div.nav-links>a{
    text-decoration: none;
    outline: none;
    color: white;
    padding: 0 1.5rem;
}

div.introduction{
    color: white;
    margin-top: 5rem;
    text-align: center;
}

section.container.flex{
    padding: 5rem 20rem;
}

div.content-image{
    width: 60%;
    background-size: cover;
    padding-right: 10rem;
}

div.content-text{
    width: 40%;
}

#main-foot{
    flex-direction: column;
    text-align: center;
}

footer.info{
    background-color: #23272a;

    padding: 3rem 20rem;
}

footer h3, h4 {
    color: #7289da;
}

div.sos{
    width: 25%
}

div.ses{
    width: 75%;
}